<?xml version="1.0"?>
<model>
  <name>spherical_object</name>
  <version>1.0</version>
  <sdf version="1.9">model.sdf</sdf>
  <author>
    <name>Fer</name>
    <email>fe.dionisio@studenti.unina.it</email>
  </author>
  <description>A static spherical object with a radius of 15 cm, colored blue.</description>
</model>

